<div class="topHeader">
  <img src="carga_mundo_express_horizontal.png" alt="Logo Carga Mundo Express">

  <div class="userProfile">
    <div class="userImg">
      <img src="default_avatar.svg" alt="Default Avatar">
    </div>

    <div class="userInfo">
      <p class="userName">Leonardo Espinoza</p>
      <p class="userMail">leo&#64;test.com</p>
    </div>
  </div>
</div>

<div class="headerMain">
  <div class="navBar">
    <div class="navBarTitle">
      <h1>¡Bienvenido, <span>Administrador</span>!</h1>
    </div>

    <div class="navSpace">
      <p>Menú</p>
    </div>

    <div class="navBarValues">
      <a [routerLink]="['/inicio']" [ngClass]="{'active':'/inicio' === paginaActual}">
        <i class="fa-solid fa-house-chimney navIcon"></i>Inicio
      </a>

      <a [routerLink]="['/envios']" [ngClass]="{'active':'/envios' === paginaActual}">
        <i class="fa-solid fa-truck-fast navIcon"></i>Envios
      </a>

      <a [routerLink]="['/servicios']" [ngClass]="{'active':'/servicios' === paginaActual}">
        <i class="fa-solid fa-gear navIcon"></i>Servicios
      </a>

      <a [routerLink]="['/bodegas']" [ngClass]="{'active':'/bodegas' === paginaActual}">
        <i class="fa-solid fa-warehouse navIcon"></i>Bodegas
      </a>

      <a [routerLink]="['/usuarios']" [ngClass]="{'active':'/usuarios' === paginaActual}">
        <i class="fa-solid fa-users navIcon"></i>Usuarios
      </a>

      <a [routerLink]="['/reportes']" [ngClass]="{'active':'/reportes' === paginaActual}">
        <i class="fa-solid fa-file-lines navIcon"></i>Reportes
      </a>
    </div>

    <div class="logOut">
      <a>
        <i class="fa-solid fa-right-from-bracket navIcon"></i> Cerrar Sesión
      </a>
    </div>
  </div>

  <div class="mainContainer">
    <div class="componentContainer">
      <router-outlet></router-outlet> <!-- Aquí se cargan los componentes según la ruta -->
    </div>
  </div>
</div>