$primary-background: #3a64ae;
$secondary-background: #26abcb;
$contrast: #e9551e;

$white: #ffffff;
$light-gray: #eeeeee;
$gray: #949494;
$red: #D43447;
$green: #5dc460;
$black: #353535;
$shine-word: #B46F90;
$male-word: #6e78ff;
$top-menu-height: 7rem;